<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="hello" type="com"*/-->
<div th:text="${hello}">这里是原来的文本！</div>
<hr/>
<!-- 不转义 -->
<div th:utext="${hello}"></div>
<hr/>
<!--/*@thymesVar id="users" type="com"*/-->
<h4 th:each="user : ${users}" th:text="${user}"></h4>
<hr/>

<h4>
    <span th:each="user : ${users}"> [[${user}]] </span>
</h4>

<div th:insert="~{footer::copy}"></div>
<div th:replace="~{footer::copy}"></div>
<div th:include="~{footer::copy}"></div>

</body>

<footer th:fragment="copy">
    &copy; 版权所有
</footer>

</html>





